body {
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  background-image: url("../images/catch.JPG");
  background-attachment: fixed !important;
  background-size: contain !important;
  position: relative;
  display: table;
  width: 100%;
  background-repeat: no-repeat !important;
  background-position: 50.00% 20.51% !important;
  background-size: 100% !important;
  background-color: transparent !important;
}
