h4, h1 {
 color: red !important;
 text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

p {
  color: black;
  text-shadow:none;
}

.navbar {
  border: 5px solid red;
  top:0;
  width: 100%;
  margin: 0 0;
  padding: 0 !important;
  z-index: 199;
}
